*{
    border: 0;
    margin: 0;
    padding: 0;  
}
.mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(204, 204, 204, 0.7);
    z-index: 2;
    /* display: none; */
}
.mask-form{
    width: 400px;
    height: auto;
    position: absolute;
    top: 30%;
    left: 35%;
    background-color: lightgrey;
    border-radius: 10px;
}
.mask-form > p{
    background-color: #f2f2f2;
    font-size: 25px;
    line-height: 25px;
    font-weight: 600;
    padding: 10px 15px;
    vertical-align: middle;
    border-radius: 5px;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.form-msg {
    width: 100%;
    /* height: 20px; */
    margin-top: 10px;
}
.form-msg > span{
    display: inline-block;
    width: 20%;
    height: 100%;
    text-align: right;
    margin-right: 10px;
}
.form-msg > input[type="text"]{
    border-bottom: 1px solid #333333;
    background-color: lightgrey;
}
.flex-container > .btn{
    text-align: center;
    vertical-align: middle;
    padding-bottom: 10px;
}
.flex-container > .btn > button,.form-msg > input[type="submit"]{
    width: 100px;
    height: 20px;
    box-shadow: 2px 2px 5px #cccccc;
    cursor: pointer;
}